<h1><%= t('.header', question_test_title: @question.test.title) %></h1>
<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<h2>Answers</h2>

<%= link_to t('.new_answer'), new _admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('navigation.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('navigation.back'), admin_test_path(@question.test) %>